.btn-container {
    display: flex;
    align-items: flex-end;
}

.button-style-user {
    cursor: pointer;
    appearance: none;
    background: black;
    color: white;
    border: none;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 20px;
    margin: 5px auto;
    width: 10rem;
}

.enlinea {
    display: flex;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    flex-wrap: wrap;
}