.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    flex-wrap: wrap;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img {
    cursor: pointer;
    width: 6em;
}

.logo_text {
    font-weight: var(--fw-bold);
    font-size: var(--fs-s);
    color: var(--secundary);
    cursor: pointer;
}

.header-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.button-style {
    text-decoration: none;
    background: transparent;
}