/* RESET */
a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    appearance: none;
    background: none;
    font-family: 'Comic Sans';
    scroll-behavior: smooth;
}


html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--primary);
}

/* ROOT */
:root {
    --primary: #564d4d;
    --secondary: #000000;

    --fs-xxs: 1rem;
    --fs-xs: 1.25rem;
    --fs-s: 1.5rem;
    --fs-r: 2rem;
    --fs-m: 2.5rem;
    --fs-l: 4rem;
    --fs-xl: 5rem;
    --fs-xxl: 6rem;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: var(--clr-link);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
}

/* TRANSITION */
.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity ease-in-out 0.4s;
}

.shown {
    opacity: 1;
    transition: opacity ease-in-out 0.4s;
}

/* LINK */
a {
    text-decoration: none;
    color: var(--secondary);
    font-size: var(--fs-xxs);
}