.details-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 20px;
}

.movie-img {
    border-radius: 10px;
    width: 400px;
}

.movie-details {
    font-size: var(--fs-xxs);
    line-height: normal;
}